{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/style.css')}}">
{% endblock %}

{% block body %}
{# {% include "components/navbar.html.twig" %} #}

<div class="body"> 
    
    <div class="container">
        <h2 class="py-5 headers">City tours</h2>
        {% include "tours/tours.html.twig" %} 

        <h2 class="py-5 headers">Private tours</h2>
        {% include "private_tours/privateTours.html.twig" %} 

        <h2 class="py-5 headers">Group tours</h2>
        {% include "group_tours/groupTours.html.twig" %} 
    </div>

</div>

{# {% include "components/footer.html.twig" %} #}
{% endblock %}
