
<nav class="footer myFooter">
    <div class="container-fluid pt-3">
      <div class="links mb-2">
        <ul class="d-flex">
          <li class="footer-item mx-3">
            <a class="footer-link text-decoration-none" aria-current="page" href="/">Home</a>
          </li>
          <li class="footer-item mx-3">
            <a class="footer-link text-decoration-none" href="#">About</a>
          </li>
          <li class="footer-item mx-3">
            <a class="footer-link text-decoration-none" href="#">News</a>
          </li>
          <li class="footer-item mx-3">
            <a class="footer-link text-decoration-none" href="#">Contact</a>
          </li>
        </ul>
      </div>
      <div class="news my-2">
        <form class="d-flex" role="subscribe">
            <input class="form-control me-2" type="subscribe" placeholder="subscribe" aria-label="subscribe">
            <button class="btn btnFooter" type="submit">Sign up</button>
          </form>
      </div>
      <div class="copyright mt-3 text-center">
        <p class="pb-3 mb-0">&copy; 2023 Horizon LLC</p>
      </div>
    </div>
  </nav>