<div class="hero">
    <div class="heroText">
        <h2>Horizon</h2>
        <p class="fst-italic fw-semibold text-white">The place where dreams come true</p>
        <button class="btn btnHero" type="submit">Let's go!</button>
    </div>
</div>