<div class="hero">
    <div class="heroText">
        <h2>Horizon</h2>
        <h5 class="fst-italic fw-semibold text-white">The place where dreams come true</h5>
        <button class="btn btnHero my-2" type="submit">Let's go!</button>
    </div>
</div>